<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<h1>User Data</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Description</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">123</td>
        <td th:text="${user.userName}">Tasty Goodnees</td>
        <td th:text="${user.password}">Tasty Goodnees</td>
        <td th:text="${user.enabled}">Tasty Goodnees</td>
    </tr>
</table>
</body>
</html>